
{% include header.html %}

<body class="secondary-page">

<div class="container secondary-page-container mt-5">
    <div class="row align-items-center">
        <div class="col-12">

            <div class="row">
                <div class="col-md-5">
                    <a href="/" class="main-page-link">
                        <h4>Perf2k2</h4>
                        <h6>Романников Никита</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {{ content }}
</div>

{% include footer.html %}
