
{% include header.html %}

<body class="secondary-page">

<div class="container secondary-page-container mt-5">
    <div class="row align-items-center">
        <div class="col-12">

            <div class="row">
                <div class="col-md-5">
                    <a href="/" class="main-page-link">
                        <h4>Perf2k2</h4>
                        <h6>Романников Никита</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-9 pt-5">

            {{ content }}

            <div class="mt-3 mb-3">
                <a href="/">Вернуться на главную страницу</a>
            </div>
        </div>
        <div class="col-3">

            <div class="row">
                <div class="col-12">
                    <h2>Проекты</h2>

                    <div class="row justify-content-lg-center mt-3">
                        <div class="col-12">
                            {% include projects/direct-api-wrapper.html %}
                        </div>
                        <div class="col-12 mt-4">
                            {% include projects/poligonize-it.html %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center mt-5">
                <div class="col-12 col-md-3">
                    <a href="https://github.com/perf2k2" class="small text-muted">
                        <img src="/img/github.png" class="img-fluid mb-1" title="Профиль GitHub" alt="Логотип Github">
                    </a>
                </div>
                <div class="col-12 col-md-3">
                    <a href="https://ru.stackoverflow.com/users/189794/nikita-romannikov" class="small text-muted">
                        <img src="/img/so.png" class="img-fluid mb-1" title="Профиль на русском StackOverflow" alt="Логотип StackOverflow">
                    </a>
                </div>
                <div class="col-12 col-md-3">
                    <a href="https://www.linkedin.com/in/nikita-romannikov-382a4951/" class="small text-muted">
                        <img src="/img/linkedin.png" class="img-fluid mb-1" title="Профиль LinkedIn" alt="Логотип LinkedIn">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

{% include footer.html %}