<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Романников - {{ page.title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="secondary-page">

<div class="container secondary-page-container mt-3">
    <div class="row align-items-center">
        <div class="col-12">

            <div class="row">
                <div class="col-md-5">
                    <h4>Романников Никита</h4>
                    <h6>Разработчик</h6>
                </div>
                <div class="col-md-7">
                    <ul class="nav float-right">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/skills.html">Профессиональная информация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Проекты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{ content }}

</body>
</html>